.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.rounded-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.badge {
  display: inline-block;
  padding: 5px;
  background-color: gray;
  color: white;
  border-radius: 5px;
}

h1,
h2,
h5 {
  color: orange;
  font-weight: 700;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

footer a {
  color: blue;
}

footer a:hover {
  color: pink;
}