.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.rounded-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.badge {
  display: inline-block;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

h1,
h2,
h5 {
  color: rgb(3, 32, 127);
  font-weight: 700;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

footer a {
  color: rgb(75, 5, 205);
}

footer a:hover {
  color: rgb(217, 47, 75);
}
